
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p id="demo"></p>
<p id="demo1"></p>
<script>
    var a = 5;
    var b = 6;
    var c = a + b;

    var carname = "Volvo", xname = "Localhost", x = 5, y = 3, z = "4";
    var x = x + 6;
    document.getElementById("demo").innerHTML = carname;
    document.getElementById("demo1").innerHTML = x + y + z;
    alert(c)
    alert(x)
</script>