@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Đăng Ký</title>
    <link href="/Content/CSS.css" rel="stylesheet" />
    <script type="text/javascript" src="/Content/JS/JS.js"></script>
</head>
<body>
        <div id="noidung">
            <div id="TieuDe"> <h1>Đăng Ký: Cloud Solutions Day</h1></div>

            <div class="Thuoctinh">
                <p>(*) Phần bắt buộc</p>
                <p style="color: red">*Bắt buộc</p>
            </div>

            <div class="Thuoctinh">
                <h2>Tên đầy đủ của bạn<b style="color: red">*</b></h2>
                <input type="text" id="txtName" placeholder="Câu trả lời của bạn" onmousemove="kthoplename()" border="0" style="border: none; font-size: 200%;" />
                <p id="tb1" style="color: red"></p>
            </div>

            <div class="Thuoctinh">
                <h2>Số điện thoại của bạn<b style="color: red">*</b></h2>
                <input type="text" id="txtPhone" placeholder="Câu trả lời của bạn" onmousemove="kthoplephone()" border="0" style="border: none; font-size: 200%;" />
                <p id="tb2" style="color: red"></p>
            </div>

            <div class="Thuoctinh">
                <h2>Email của bạn<b style="color: red">*</b></h2>
                <input type="text" id="txtMail" placeholder="Câu trả lời của bạn" onmousemove="kthoplemail()" border="0" style="border: none; font-size: 200%;" />
                <p id="tb3" style="color: red"></p>
            </div>

            <div id="Footer">
                <input type="submit" value="GỬI" style="height: 45px; width: 100px; background-color: #0066FF; color: white; border-radius: 7px 7px 7px 7px;"
                       onclick="sub()"/>
                <h4>Không bao giờ gửi mật khẩu thông qua Google Biểu mẫu.</h4>
            </div>
        </div>
</body>
</html>

