@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Angular get</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

    <div ng-app="myApp" ng-controller="myCtrl">

        <p>Today's welcome message is:</p>

        <h1 ng-repeat="item in myWelcome">{{item.PackageTypePrice.Id}}, {{item.PackageTypePrice.Name}}, {{item.CreateDate}}, {{item.CreateBy}}</h1>
        <h1>{{myWelcome}}</h1>
    </div>

    <p>The $http service requests a page on the server, and the response is set as the value of the "myWelcome" variable.</p>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {
            $http.get("http://ibebizweapi.azurewebsites.net/package/price/1")
            .then(function (response) {
                $scope.myWelcome = response.data.PackagePrices;
                console.log(response.data);
            });
        });
    </script>

</body>
</html>
