
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KhaiNiemCB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
    <div ng-app="">
        <p>Ký tự:<input type="text" ng-model="ten"/></p>
        <p ng-bind="ten"></p>
    </div>
</body>
</html>
